/** Patch on AsciiDoctor styles */
html, body {font-size: .9em; line-height: .8em}
p {margin-bottom: 1rem}

@media only screen and (min-width:1280px){
  body.toc2{padding-left:25em;padding-right:0}
  #toc.toc2{width:25em; overflow-x: scroll;}
}

#header,
#content,
#footnotes,
#footer {
  max-width: none;
}

body.article > #header,
#content,
#footnotes,
#footer {
  padding-left: 2em;
  padding-right: 2em;
}

#toc.toc2 {
  padding: 0em 1em;
}

#toc.toc2 div.ulist {
   margin-bottom: 0;
}

#toc.toc2 li {
   margin-top: 0;
}

#toc.toc2 li > p {
  margin-bottom: 0;
}

#toc.toc2 li a {
  white-space: nowrap;
}

#toc.toc2 li a.current {
  font-weight: bold;
}

#toc.toc2 li a.search {
  color: #bf3400;
}

body.article > #header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #fff;
}

body.article > #header #source-link {
  float: right;
}

body * {
  scrollbar-width: thin;
}

#header > h1:first-child {
  margin-top: 1rem;
}

/* elements */
.exampleblock > .content {
  overflow: auto;
  white-space: nowrap;
}

.listingblock code {
  display: block;
  overflow: auto;
  white-space: pre;
}

/* for asciidoc table columns */
td.tableblock * {
  font-size: 1em;
}

/* search */
#search > * {
  display: table-cell;
}

#search-input {
  width: 100%;
  padding-left: 0.5em;
}

#search-input input {
  width: 100%;
}

#search-count {
  color: #bf3400;
  padding-left: 0.5em;
}
